#Tooltip{
  opacity: 0;
  transition: opacity 0.2s ease-out;
  border-radius: 4px;
  padding: 8px 21px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
}

/* 
.tooltiptextBottom::after {
  content: '';
  position: absolute;
  top: -0.75em;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltiptextTop::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltiptextRight::after {
  content: '';
  position: absolute;
  top: 0.16em;
  left: -0.3em;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  transparent black transparent transparent ;
}


.tooltiptextLeft::after {
  content: '';
  position: absolute;
  top: 0.16em;
  right: -0.65em;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:   transparent  transparent transparent black;
} */


