.Tooltip{
  font-size: 12px;
  line-height: 10px;
  text-align: center;
  background-color: black;
  color: azure;
  display: flex;
  justify-content: center;
}

.Tooltip::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  margin-bottom: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: white ;
}